@model TicketsJO.Models.StatutEvent

@{
    ViewData["Title"] = "Ahout Statut évenement";
}


<div class="text-center text-primery">
    <h1 class="display-6">Jeux Olympiques 2024</h1>
</div>


<div class="text-start display8 text-danger">
    <h4 class="display-6">Ajouter un nouveau statut évenement</h4>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
