@model TicketsJO.Models.Event



@{
    ViewData["Title"] = "Create";
}

<h1>Créer un évènement sportif</h1>

<h4>Renseigner les informations sur l'évènement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEvent" class="control-label"></label>
                <input asp-for="DateEvent" class="form-control" />
                <span asp-validation-for="DateEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresseEvent" class="control-label"></label>
                <input asp-for="AdresseEvent" class="form-control" />
                <span asp-validation-for="AdresseEvent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Capacite" class="control-label"></label>
                <input asp-for="Capacite" class="form-control" />
                <span asp-validation-for="Capacite" class="text-danger"></span>
            </div>
          


            <div class="form-group">

                <label asp-for="Discipline" class="control-label">Discipline </label>

                <select asp-for="Discipline" class="form-control" asp-items="ViewBag.Disciplines"></select>

                <span asp-validation-for="Discipline" class="text-danger"></span>

                <a class="nav-link text-primery" asp-controller="Disciplines" asp-action="Create">Ajouter une Discipline</a>

            </div>

            <div class="form-group">
                <label asp-for="StatutEvent" class="control-label">Statut </label>
                <select asp-for="StatutEvent" class="form-control" asp-items="ViewBag.StatutEvent"></select>
                <span asp-validation-for="StatutEvent" class="text-danger"></span>

                <a class="nav-link text-primery" asp-controller="StatutEvents" asp-action="Create">Ajouter un statut</a>

            </div>
            

            <div class="form-group pt-3">
                    <input type="submit" value="Enregistrer" class="btn btn-outline-primary btn-lg px-4 me-md-2 fw-bold" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  asp-action="Index">Retour au menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
