@using TicketsJO.ViewModels
@model CartTotaleViewModel
<a asp-controller="ShoppingCart" asp-action="Index" class=" text-dark">
    <span id="cart-Nombre" class="text-white">@Model.CartNombre</span>   
</a>